body {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.emoji {
  font-size: 4em;
}

.card {
  padding: 20px;
  max-width: 600px;
}

form {
  margin-top: 20px;
}

.mbutton {
  display: inline-block;
  margin-top: 20px;
}