#localballot b-room {
  cursor: pointer;
}

#localballot #pass {
  max-width: 600px;
  background: white;
  margin: 0 auto 30px auto;
  display: block;
  text-align: center;
}

main {
  margin: 30px 0;
}

s-section {
  max-width: 10000px;
  box-shadow: none !important;
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

s-section h3 {
  font-weight: 400 !important;
  font-size: 1.2em !important;
}

s-section ul {
  list-style: none;
  padding-left: 15px;
}

s-section h4 {
  cursor: pointer;
  font-weight: 400;
  padding: 3px 0;
}

s-section h4::after {
  content: ' ⌄';
}

b-floor {
  padding: 10px 0 10px 10px;
  display: none;
}

b-room {
  margin: 2px 0;
  padding: 6px;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 35px;
  display: inline-block;
  font-family: monospace;
  font-size: 1.1em;
}

.freeroom {
  background-color: rgba(80, 180, 50, 0.8);
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.takenroom {
  color: rgba(130, 0, 0, 0.6);
  background: rgba(30,30,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

#leckfordgold {
  border: 1px solid rgba(0,0,0,0.2);
/*  border: 5px dotted white;*/
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
  font-family: cursive;
/*  background-image: -webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);*/
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
}

#leckfordgold .room {
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

#leckfordgold .freeroom {
  background-image: linear-gradient(0deg, #43e97b 0%, #38f9d7 100%);
}

#leckfordgold .takenroom {
  background-image: linear-gradient(180deg, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}