body {
  /*
  Photo credit: Simon Quinton
  https://www.flickr.com/photos/10287726@N02/7988398466
  Photo has been scaled for better performance across
  various devices.
  */
  background-color: black;
  background-image: url(../img/backs/hert4200.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width:2880px) and (max-height: 1920px) {
  body {
    background-image: url(../img/backs/hert2880.jpg);
  }
}

@media only screen and (max-width: 1920px) and (max-height: 1280px) {
  body {
    background-image: url(../img/backs/hert1920.jpg);
  }
}

@media only screen and (max-width:1440px) and (max-height: 960px) {
  body {
    background-image: url(../img/backs/hert1440.jpg);
  }
}

@media (-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
  @media only screen and (max-width: 1440px) and (max-height: 960px) {
    body {
      background-image: url(../img/backs/hert2880.jpg);
    }
  }
  @media only screen and (max-width: 960px) and (max-height: 640px) {
    body {
      background-image: url(../img/backs/hert1920.jpg);
    }
  }
  @media only screen and (max-width:720px) and (max-height: 480px) {
    body {
      background-image: url(../img/backs/hert1440.jpg);
    }
  }
}

credit-box {
  color: #ddd;
  text-shadow: 0 0 2px black;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 8px;
}

credit-box a {
  text-decoration: none;
  color: inherit;
}

credit-box a:hover {
  text-decoration: underline;
}

flex-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

header {
  text-align: center;
  background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2));
/*  background: rgba(0,0,0,0.3);*/
  border: 1px solid black;
/*  width: 100%;*/
  padding: 40px;
  border-radius: 5px;
}

#headerborder {
  border-bottom: 5px solid white;
  border-radius: 5px;
}

header h1 {
  color: white;
  font-size: 5.5em;
  font-weight: 300;
  font-family: 'Goudy Old Style', sans-serif;
  display: inline-block;
  border-bottom: 1px solid black;
  line-height: 0.8em;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 0;
  text-shadow: 0 1px 0 black, 0 0 3px black, 0 0 200px black;
  text-rendering: geometricPrecision;
}

@media only screen and (max-width: 800px) {
  header h1 {
    font-size: 3em;
  }
  contact-form {
    font-size: 0.8em;
  }
}

nav .mbutton {
  display: inline-block;
  font-size: 1.2em;
  margin-right: 5px;
}
