body {
  /*
  Photo credit: Simon Quinton
  https://www.flickr.com/photos/10287726@N02/7988398466
  Photo has been scaled for better performance across
  various devices.
  */
  background-color: black;
  background-image: url(../img/backs/hert4200.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width:2880px) and (max-height: 1920px) {
  body {
    background-image: url(../img/backs/hert2880.jpg);
  }
}

@media only screen and (max-width: 1920px) and (max-height: 1280px) {
  body {
    background-image: url(../img/backs/hert1920.jpg);
  }
}

@media only screen and (max-width:1440px) and (max-height: 960px) {
  body {
    background-image: url(../img/backs/hert1440.jpg);
  }
}

@media (-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
  @media only screen and (max-width: 1440px) and (max-height: 960px) {
    body {
      background-image: url(../img/backs/hert2880.jpg);
    }
  }
  @media only screen and (max-width: 960px) and (max-height: 640px) {
    body {
      background-image: url(../img/backs/hert1920.jpg);
    }
  }
  @media only screen and (max-width:720px) and (max-height: 480px) {
    body {
      background-image: url(../img/backs/hert1440.jpg);
    }
  }
}

.credit {
  color: #ddd;
  text-shadow: 0 0 2px black;
  position: absolute;
}

#photocredit {
  top: 3px;
  left: 8px;
}

#websitecredit {
  top: 3px;
  right: 8px;
}

.credit a {
  text-decoration: none;
  color: inherit;
}

.credit a:hover {
  text-decoration: underline;
}

#flexholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
  min-height: calc(100vh - 40px);
  box-sizing: border-box;
}

#flexholder div {
  max-width: 100%;
}

header {
  text-align: center;
  background-color: transparent;
  box-shadow: none;
}

#headerborder {
  border-bottom: 5px solid white;
  border-radius: 5px;
}

header h1 {
  color: white;
  font-size: 5.5em;
  font-weight: 300;
  font-family: 'Goudy Old Style', sans-serif;
  display: inline-block;
  border-bottom: 1px solid black;
  line-height: 0.8em;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 0;
  text-shadow: 0 1px 0 black, 0 0 3px black, 0 0 200px black;
  text-rendering: geometricPrecision;
}

@media only screen and (max-width: 800px) {
  header h1 {
    font-size: 3em;
  }
  aside {
    font-size: 0.8em;
  }
}

nav .mbutton {
  display: inline-block;
  font-size: 1.2em;
}

aside {
  margin-top: 50px;
  padding: 25px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 100%;
}


h2 {
  font-weight: 400;
  max-width: 600px;
  margin: 0 auto;
}

p {
  max-width: 600px;
  margin: 5px auto;
}

form {
  margin: 0 auto;
}