/* images should be 600x600 for retina */

main {
  text-align: center;
  margin: 40px 0;
}

.member {
  display: inline-block;
  width: 300px;
  box-sizing: border-box;
  padding: 0px;
  /* margin difference cancels out whitespace
  of inline elements */
  margin: 11px 9px;
  padding-bottom: 20px;
  overflow: auto;
}

.membername {
  padding-top: 10px;
  font-size: 1.6em;
}

.memberrole {
  font-size: 1.3em;
  padding-top: 3px;
}

.memail {
  padding-top: 3px;
}

.member img {
  width: 100%;
}

#apeman {
  background: -webkit-linear-gradient(left, rgb(52, 204, 0), rgb(192, 128, 64));
  background: linear-gradient(to right, rgb(52, 204, 0), rgb(192, 128, 64));
  text-shadow: 0 0 5px white;
}

#lgbtq{
  background: -webkit-linear-gradient(left, crimson,orange,yellow,lightgreen,deepskyblue,mediumslateblue,violet);
  background: linear-gradient(to right, crimson,orange,yellow,lightgreen,deepskyblue,mediumslateblue,violet);
  text-shadow: 0 0 5px white;
}