/* images should be 600x600 for retina */

main {
  text-align: center;
  margin: 40px 0;
}

.member {
  width: 410px;
  max-width: 100%;
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
  padding: 0px;
  /* margin difference cancels out whitespace
  of inline elements */
  margin: 7px 5px;
  padding: 5px;
}

.member::after {
  display: block;
  content: "";
  clear: both;
}

.membername {
  padding-top: 10px;
  font-size: 1.2em;
}

.memberrole {
  font-size: 1.1em;
  padding-top: 3px;
}

.memail {
  padding-top: 3px;
}

.member img {
  width: 100px;
  float: left;
  margin-right: 10px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.1);
}

#apeman {
  background: -webkit-linear-gradient(left, rgb(52, 204, 0), rgb(192, 128, 64));
  background: linear-gradient(to right, rgb(52, 204, 0), rgb(192, 128, 64));
  text-shadow: 0 0 5px white;
}

#lgbtq{
  background: -webkit-linear-gradient(left, crimson,orange,yellow,lightgreen,deepskyblue,mediumslateblue,violet);
  background: linear-gradient(to right, crimson,orange,yellow,lightgreen,deepskyblue,mediumslateblue,violet);
  text-shadow: 0 0 5px white;
}