#warnymenucont {
  font-size: 1.5em;
  text-align: center;
  max-width: 700px;
  width: calc(100% - 20px);
  margin: 20px auto;
}
  
#warnymenucont p {
  margin: 24px;
}

section {
  margin-bottom: 30px;
  overflow: auto;
}

h3 {
  font-size: 1.5em;
  padding-left: 40px;
  clear: both;
  margin: 15px 0;
}

.lunch, .dinner {
  text-align: center;
  width: 50%;
  box-sizing: border-box;
}

.lunch {
  float: left;
  border-right: 1px solid black;
}

.dinner {
  float: right;
}

/* print stuff */

#printpage {
  width: 100%;
}

table {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
}

th {
  font-weight: 300;
  font-size: 1.3em;
}

.rotate {
  transform: rotate(-90deg);
  padding: 30px 0;
  width: 30px;
}

@media print {
  body {
    transform: rotate(-90deg);
  }
  header, footer, .spacer {
    display: none;
  }
}