header {
  text-align: center;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 20px 0;
}

section {
  margin-bottom: 30px;
  overflow: auto;
}

p {
  margin: 30px 0;
  font-size: 0.9em;
}