header {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.0)), url(../img/backs/stud1.jpg);
  background-size: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: block;
  border-bottom: 1px solid black;
  padding: 10px 0;
  margin-bottom: 50px;
}

nav {
  margin: 5px 0;
}

nav>ul {
  width: 100%;
  text-align: center;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  display: block;
}

header>h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: 400;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  color: white;
  font-size: 2.5em;
}

#searchfield {
  background-color: rgba(255,255,255,0.8);
  margin: 80px auto;
  -webkit-backdrop-filter: blur(10px);
  display: block;
  width: 700px;
  max-width: calc(100% - 20px);
  padding: 10px 20px;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
}

#searchfield:focus,
#searchfield:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: 1px solid rgb(223, 27, 46);
  background-color: rgba(255,255,255,0.9);
}

no-results {
  display: none;
  text-align: center;
  margin: 50px auto;
}

main {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 600px;
  -moz-column-width: 600px;
  column-width: 600px;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
  width: 100%;
  margin: 0 auto 50px auto;
  text-align: center;
}

.singlelist {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  max-width: 720px;
}

s-section {
  text-align: left;
  padding: 10px;
  margin: 0 10px 20px 10px;
  display: inline-block;
  width: calc(100% - 20px);
  max-width: 730px;
  page-break-inside: avoid;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  display: block;
  border-top: 4px solid rgba(170,0,0,0.7);
}

s-section h3 {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 1.4em;
}

s-item {
  box-sizing: border-box;
  border-radius: 5px;
  /*  background-color: rgba(121,166,210, 1);*/
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: auto;
  display: block;
}

.extlink::after {
  display: inline;
  content: " \29C9";
}

s-item:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

s-item h4 {
  font-weight: 400;
  padding: 5px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

s-itemgrow {
  width: 90%;
  margin: 0 auto 20px auto;
  overflow: auto;
  cursor: auto;
  display: none;
}

.itemfocus {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgb(223, 27, 46);
  margin: 10px 0;
  display: block;
}

.itemfocus h4 {
  padding: 10px 30px;
  font-size: 1.2em;
}

.itemfocus:hover {
  border: 1px solid rgb(223, 27, 46);
}

.itemgrownote {
  display: block;
  padding-bottom: 10px;
  clear: both;
}

s-itemgrow h5 {
  font-weight: 500;
  display: block;
  margin-top: 10px;
  font-size: 1.2em;
}

s-itemgrow li {
  padding: 4px 0;
  padding-left: -1em;
  text-indent: 1em;
}

s-itemgrow p {
  margin-bottom: 15px;
}