@media only screen and (max-width: 800px) {
  header {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
  }
  header > .mbutton {
    display: inline-block;
    margin-top: 5px;
  }
  #patrify {
    display: none;
  }
}

header,
footer {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

@media only screen and (max-width: 800px) {
  header .mbutton {
    margin: 0 5px;
  }
}

.pattedbody {
  background-image: url(/img/backs/patpat250.png);
  background-size: 250px;
  -webkit-transition: background-image 2s ease-in-out;
  transition: background-image 2s ease-in-out;
}

.pattedheader {
  background-color: rgba(255, 255, 255, 0.95);
  background-image: none;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .pattedbody {
    background-image: url(../img/backs/patpat500.png);
  }
}

main {
  padding-right: 7px;
  margin-top: 50px;
  box-sizing: border-box;
  width: 700px;
  max-width: calc(100% - 20px);
  margin: 80px auto;
}

#searchfield {
  background-color: white;
  width: 100%;
  padding: 10px 30px;
  margin-bottom: 50px;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 800px) {
  main {
    margin: 20px auto;
  }
  #searchfield {
    margin-bottom: 10px;
  }
}

#searchfield:focus,
#searchfield:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
  /*  border: 1px solid rgb(121, 166, 210);*/
  border: 1px solid rgb(223, 27, 46);
}

#noresults {
  display: none;
  text-align: center;
  margin: 50px auto;
  font-size: 1.5em;
}

section {
  text-align: left;
  padding: 10px;
  margin: 7px 0;
  display: inline-block;
  width: 100%;
}

section h3 {
  font-weight: 400;
  margin-bottom: 2px;
  font-size: 1.5em;
  color: black;
}

.item {
  box-sizing: border-box;
  border-radius: 5px;
  /*  background-color: rgba(121,166,210, 1);*/
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: auto;
}

.item:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.item h4 {
  font-weight: 300;
  font-size: 1.2em;
  padding: 5px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.itemgrow {
  width: 90%;
  margin: 0 auto 20px auto;
  overflow: auto;
  cursor: auto;
  display: none;
  font-size: 1.1em;
}

.itemfocus {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgb(223, 27, 46);
  margin: 10px 0;
}

.itemfocus h4 {
  font-size: 1.5em;
  padding: 10px 30px;
}

.itemfocus:hover {
  border: 1px solid rgb(223, 27, 46);
}

.itemgrownote {
  display: block;
  padding-bottom: 10px;
}

.itemgrow h5 {
  font-size: 1.4em;
  font-weight: 400;
  border-bottom: 1px solid black;
  display: block;
  margin: 10px 0;
}

.itemgrow li {
  padding: 4px 0;
  padding-left: -1em;
  text-indent: 1em;
}

aside h2 {
  font-size: 1.5em;
}